/***********************
BASE STYLES
***********************/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Exo', sans-serif;
  line-height: 1.5;
  margin: 0;
}

h1,
h2 {
  text-align: center;
}

p,
li {
  color: rgb(163, 163, 163);
}

img {
  width: 100%;
}

h1,
span,
a {
  font-weight: bolder;
}

a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}

/***********************
CONTAINER
***********************/

.container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

/***********************
HEADER
***********************/

.main-nav {
  list-style: none;
  display: block;
  text-align: center;
  margin-top: 1.5em;
}

.main-nav a {
  margin: 0.6em 0;
  padding: 0.5em 0;
  display: block;
  background-color: rgb(247, 247, 247);
}

a[href^="#interesting"] {
  color: blue;
  transition: all 1.5s;
}

a[href^="#interesting"]:hover {
  transform: scale(1.5);
}

.title {
  margin: 0;
}

.title-and-nav {
  margin-top: 2em;
}

.profile-pic {
  width: 60%;
}

.bio {
  margin-top: 1em;
}

/***********************
PORTFOLIO
***********************/

.portfolio {
  background-color: rgba(2, 103, 36, 0.1);
  padding-top: 0.5em;
  margin-top: 5em;
  margin-bottom: 3em;
  border-radius: 2em;
}

.secondary-header {
  text-transform: uppercase;
  font-size: 1em;
}

.portfolio-items {
  text-align: center;
}

.portfolio-items p {
  padding: 0 3em;
}

/***********************
INTERESTING FACT
***********************/

.interesting-fact {
  margin-bottom: 2em;
  background-color: rgb(12, 105, 227);
  box-shadow: 5px 5px 5px lightgrey;
  border-radius: 2em;
  padding: 1em;
}

/***********************
CONTACT
***********************/

.contact {
  background-color: rgba(17, 95, 176, 0.1);
  padding: 0.5em 0;
  margin-bottom: 3em;
  border-radius: 2em;
}

.contact-info {
  list-style: none;
  padding: 0 5%;
}

.contact-info li {
  line-height: 2em;
}

.contact-info a {
  text-transform: lowercase;
}

.contact-info a:hover {
  color: #000;
}

/***********************
FOOTER
***********************/

footer {
  border-top: solid 1px;
  padding: 2em 0;
}

footer span {
  float: left;
}

#back-to-top {
  float: right;
}

.tablet-footer {
  display: none;
}

/***********************
MEDIA QUERY STYLES
***********************/

@media (min-width: 768px) {

  header {
    padding: 0 1em;
  }

  .footer-nav li,
  .main-nav li {
    display: inline-block;
    margin-left: 2em;
    text-transform: uppercase;
    font-weight: bold;
  }

  .main-nav a {
    background-color: transparent;
    margin: 0;
  }

  .title {
  margin: 0 auto;
  }

  .tagline {
    width: 60%;
    display: inline-block;
    text-align: justify;
    font-size: 1.35em;
    padding-right: 3em;
    margin: 0;
    }

  .profile-pic {
    float: right;
    width: 40%;
  }

  .portfolio-items {
    width: 50%;
    margin: 0 -1px;
    padding: 0 1em;
    display: inline-block;
    vertical-align: top;
  }

  .contact {
  padding: 0.5em 10%;
  }

  .contact-info {
    font-size: 1.35em;
  }

  .mobile-footer {
    display: none;
  }

  .tablet-footer {
    display: inline-block;
    float: right;
  }
}

@media (min-width: 1024px) {

  .main-nav {
    float: right;
    margin: 0;
  }

  .main-nav li {
    margin: 0 0 0 2em;
  }

  .title {
    float: left;
  }

  .portfolio-items {
    width: 33.333%;
    margin: 0 -4px;
  }

}
